body {
}

a {
	text-decoration: none;
	color: #262626;
}

	a:link {
		text-decoration: none;
	}

.SystemLeftMenuRoot {
	width: 100%;
	float: left;
	background-color: #222d32;
	color: #fff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	background-image: url('/css/setting.png');
	background-repeat: no-repeat;
	background-position: right;
	height: 32px;
	line-height: 32px;
}

.SystemLeftMenu {
	width: 100%;
	float: left;
	background-color: #2c3b41;
	margin-top: 1px;
	height: 30px;
	line-height: 30px;
	font-family: Arial;
	font-size: 13px;
	color: #fff;
	/*font-weight: bold;*/
	background-image: url('/css/item.png');
	background-repeat: no-repeat;
	background-position: 5px 8px;
	background-color: #374850;
}

	.SystemLeftMenu a {
		text-decoration: none;
		color: #fff;
	}

.FileUploadImage {
	width: 50px;
	color: transparent;
	direction: rtl;
}

.file-upload {
	display: inline-block;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	border: 1px solid #124d77;
	background: #00c0ef;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: pointer;
	text-shadow: #000 1px 1px 2px;
	-webkit-border-radius: 3px;
}

	.file-upload:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
		background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
		background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
		background-color: #0061a7;
	}

/* The button size */
.file-upload {
	height: 26px;
	line-height: 26px;
}


	.file-upload, .file-upload span {
		width: 90px;
	}

		.file-upload input {
			top: 0;
			left: 0;
			margin: 0;
			font-size: 11px;
			font-weight: bold;
			/* Loses tab index in webkit if width is set to 0 */
			opacity: 0;
			filter: alpha(opacity=0);
		}

		.file-upload strong {
			font: normal 12px Arial,sans-serif;
			text-align: center;
			vertical-align: middle;
		}

		.file-upload span {
			top: 0;
			left: 0;
			display: inline-block;
			/* Adjust button text vertical alignment */
			padding-top: 0px;
		}

.neoslideshow {
	position: relative;
	width: 500px;
	height: 260px;
}

	.neoslideshow img {
		position: absolute;
		left: 0;
		top: 0;
	}

.AdminHeaderItem {
	width: 100%;
	height: 32px;
	line-height: 30px;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom:5px;
	padding-left:10px;
}
.AdminItem {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top:5px;
}
.AdminLeftItem {
	width: 12%;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 13.5px;
	font-family: Arial;
	font-weight:bold;
	float:left;
	text-align:right;
}
.AdminRightItem {
	width: 88%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: Arial;
	float: right;
	padding-left:10px;
}
.AdminLeftItem1 {
	width: 12%;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 13.5px;
	font-family: Arial;
	font-weight:bold;
	text-align:left;
}
.AdminLeftItem1Text {
	width: 12%;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 13.5px;
	font-family: Arial;
	font-weight:bold;
	text-align:right;
}
.AdminLeftItem2 {
	width: 25%;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 13.5px;
	font-family: Arial;
	font-weight:normal;
	text-align:left;
}
.AdminRow
{
	width:100%;
	display:table;
}
.AdminTextControl50 {
	height: 22px;
	line-height: 22px;
	width: 50%;
	font-size: 13px;
	font-family: Arial;
	float:left;
}
.AdminTextControl35 {
	height: 22px;
	line-height: 22px;
	width: 35%;
	font-size: 13px;
	font-family: Arial;
	float:left;
}
.AdminTextControl10 {
	height: 22px;
	line-height: 22px;
	width: 10%;
	font-size: 13px;
	font-family: Arial;
	float:left;
}
.AdminTextControl10R {
	height: 30px;
	line-height: 30px;
	width: 10%;
	font-size: 13.5px;
	font-family: Arial;
	font-weight:bold;
	float:left;
	text-align:right;
	padding-right:5px;
}
.AdminTextControl30 {
	height: 22px;
	line-height: 22px;
	width:30%;
	font-size: 13px;
	font-family: Arial;
	float:left;
}
.AdminTextControl60 {
	height: 22px;
	line-height: 22px;
	width:60%;
	font-size: 13px;
	font-family: Arial;
	float:left;
}
.AdminTextControl {
	height: 30px;
	line-height: 30px;
	width: 100% !important;
	font-size: 13.5px;
	font-family: Arial;
	max-width:1200px !important;
	border:solid 1px #7c7b7b;
	padding-left:5px;
}
.AdminMsg
{
	font-size: 14px;
	font-family: Arial;
	color:red;
}
.DataListTableHeader {
	margin: 0px;
	width: 100%;
	height: 30px;
	border:solid 1px #dde8ec;
	margin-bottom:-3px;
	background-color:#dde8ec;
	font-weight:bold;
}
.DataListTableHeaderTdItemTT {
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	color: #262626;
}
.DataListTableHeaderTdItemCenter {
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	color: #262626;
}
.DataListTableHeaderTdItemAction {
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	color: #262626;
}
.DataListTableHeaderTdItemJustify {
	text-align: justify;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	color: #262626;
	padding-left:10px;
}
.DataListTableHeaderTdItemRight {
	text-align: right;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	color: #262626;
	padding-right:10px;
}

.DataListTable {
	margin: 0px;
	width: 100%;
	height: 30px;
	border:solid 1px #dde8ec;
	border-top:none;
	margin-bottom:-2px;
}
.DataListTableTdItemTT {
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 14px;
	color: #262626;
	background-color: #FFF;
}
.DataListTableTdItemCenter {
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 13px;
	color: #262626;
	background-color: #FFF;
}
.DataListTableTdItemAction {
	text-align: center;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	color: #262626;
	background-color: #FFF;
}
.DataListTableTdItemJustify {
	text-align: justify;
	vertical-align: middle;
	font-family: Arial;
	font-size: 15px;
	color: #262626;
	background-color: #FFF;
	padding-left:10px;
}
.DataListTableTdItemRight {
	text-align: right;
	vertical-align: middle;
	font-family: Arial;
	font-size: 14.5px;
	color: #262626;
	background-color: #FFF;
	padding-right:10px;
}
.QuotationDetailtBG
{
	height:250px;
	/*overflow-y:scroll;
	background-color:#fff;*/
}
.HeaderBox {
	width: 100%;
	height: 40px;
	line-height:40px;
	padding-left:15px;
	background-color: #e3c5fa;
	font-family: Arial;
	font-size: 14px;
	font-weight:bold;
	color: #262626;
}
.FooterBg2
{
	font-weight: bold; font-size: 15px; width:50%; float:right; text-align:right;
	color:#fff;
}
.FooterBg2 a {
	color:#fff;
	text-decoration:none;
}
.FooterBg2 a:link {
	color:#fff;
	text-decoration:none;
}
.FooterBg2 a:hover {
	color:#fff;
	text-decoration:none;
}

@media (max-width: 992px){ 
    .no-mg-padding-r{
        padding-right: 0px;
    }

}